* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.App {
    background-image: url(./assets/pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 48px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}
