* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.App {
    background-image: url(./assets/pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 48px);
}

